.PopularPosts ul li:nth-child(10) .item-thumbnail-only::before, .PopularPosts ul li:nth-child(10) .item-content::before, .PopularPosts ul li:nth-child(10) &gt; a::before {
left: -10px;
}

.PopularPosts .item-title, .PopularPosts .item-thumbnail, .PopularPosts .item-snippet {
margin-left: 28px;
}
.PopularPosts ul li &gt; a {
display: block;
min-height: 45px;
}
