.info-1, .info-2, h2.post-title, .post-snippet {
margin-left: 275px;
}
@media only screen and (max-width:1080px){
.info-1, .info-2, h2.post-title, .post-snippet {
margin-left: 260px;
}
}
@media only screen and (max-width:800px){
.info-1, .info-2, h2.post-title, .post-snippet {
margin-left: 195px;
}
}
@media only screen and (max-width:640px){
.info-1, .info-2, h2.post-title, .post-snippet {
margin-left: 190px;
}
}
@media only screen and (max-width:480px) {
.info-1, .info-2, h2.post-title, .post-snippet {
margin-left: 0px;
}
}
